<html>
  <body>
    <img src="http://i.imgur.com/UDpfi.gif">

    <p></p>
    <form action="start">
      Levels of difficulty
      <select style="font-size:100px" name="levels">
        <% (1..20).each do |el| %>
          <option > <%= el %> </option>
        <% end %>
      </select>
      <input style="font-size:500px" type='submit' value='play' />
    </form>

  </body>
</html>

